body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Основной темный фон */
    color: #e9edef; /* Светлый текст */
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #1e1e1e; /* Темный фон контейнера */
    border-radius: 10px;
    border: 1px solid #2a2a2a; /* Обводка */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e9edef; /* Светлый текст заголовка */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #b0b3b8; /* Приглушенный светлый текст */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #2a2a2a; /* Тонкая обводка */
    border-radius: 5px;
    background-color: #2a2a2a; /* Темный фон поля ввода */
    color: #e9edef; /* Светлый текст ввода */
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4a76a8; /* Синий фон кнопки */
    color: #ffffff; /* Белый текст */
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3a5e80; /* Темно-синий фон при наведении */
}
