body {
    margin: 0;
    padding: 0;
    background-color: #121212; /* Темный фон */
    color: #E1E1E1; /* Светлый текст */
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #2A2A2A; /* Тонкая темная граница */
    box-sizing: border-box;
    background-color: #1E1E1E; /* Фон контейнера */
    border-radius: 40px; /* Округлые края */
}

.container input[type="text"],
.container textarea,
.container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #2A2A2A; /* Граница элементов формы */
    background-color: #2C2F34; /* Темный фон полей ввода */
    color: #E1E1E1; /* Светлый текст */
    font-size: 16px;
    border-radius: 5px; /* Округлые края */
}

.container input[type="text"]::placeholder,
.container textarea::placeholder {
    color: #B0B0B0; /* Цвет текста-заполнителя */
}

.container label {
    color: #FFFFFF; /* Белый текст */
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #E1E1E1; /* Цвет текста чекбокса */
}

.checkbox-container input {
    margin-right: 10px;
    accent-color: #3A8DFF; /* Синий цвет галочки в чекбоксе */
}

textarea {
    height: 100px;
    resize: none;
}
