body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2a2f33; /* Фон ночной темы Telegram */
    color: #d1d1d1; /* Светлый текст */
}

.header {
    font-weight: bold;
    margin-top: 20px;
    color: #ffffff; /* Белый текст для заголовков */
}

.container {

    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #23272a; /* Контрастный фон контейнера */
    border-radius: 10px; /* Округлённые углы */
    border: 1px solid #3c4043; /* Тонкая обводка */
}

h1 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff; /* Белый текст заголовков */
}

.vacancy-details {
    background-color: #2f343a; /* Тёмный фон блока деталей */
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #d1d1d1; /* Светлый текст */
}

.vacancy-details ul {
    padding-left: 20px;
    margin: 10px 0;
    color: #d1d1d1; /* Светлый текст списка */
}

.vacancy-details ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

.vacancy-details p {
    margin: 10px 0;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #3c4043; /* Тонкая обводка */
    font-size: 16px;
    cursor: pointer;
    color: white; /* Светлый текст */
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.resume-buttons-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;



}

.button.green {
    background-color: #0088cc; /* Telegram-синий */
    width: 100%;
}

.button.green:hover {
    background-color: #007ab8; /* Светлее при наведении */
    transform: scale(1.02); /* Лёгкое увеличение */

}

.button.red {
    background-color: #f44336; /* Красный для кнопок отмены */
}

.button.red:hover {
    background-color: #d7372f; /* Темнее при наведении */
    transform: scale(1.02); /* Лёгкое увеличение */
}

/* Стили модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Полупрозрачный фон */
}

.modal-content {
    background-color: #23272a; /* Фон модального окна */
    margin-top: 130px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #3c4043; /* Тонкая обводка */
    width: 80%;
    max-width: 500px;
    position: relative;
    border-radius: 8px; /* Округлённые углы */
    color: #d1d1d1; /* Светлый текст */
}

.close {
    color: #d1d1d1; /* Светлый крестик */
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #ffffff; /* Белый при наведении */
    text-decoration: none;
}

.resume-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resume-button {
    color: white; /* Светлый текст кнопок */
    padding: 10px;
    border: 1px solid #3c4043; /* Тонкая обводка */
    border-radius: 5px;
    cursor: pointer;
    background-color: #0088cc; /* Telegram-синий */
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.resume-button:hover {
    background-color: #007ab8; /* Светлее при наведении */
    transform: scale(1.02); /* Лёгкое увеличение */
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2f33; /* Semi-transparent white background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears on top of other elements */
}

.loading-overlay img {
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}