* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    overflow: hidden;
    background-color: #2a2f33; /* Ночной фон Telegram */
    font-family: Arial, sans-serif;
    color: #d1d1d1; /* Светлый текст */
}

.container {
    width: 90%;
    max-width: 390px;
    height: 80vh;
    padding: 20px;
    background-color: #23272a; /* Контрастный фон контейнера */
    border: 1px solid #3c4043; /* Лёгкая обводка */
    border-radius: 10px; /* Округлённые углы */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #ffffff; /* Белый текст заголовка */
}

.resume-buttons {
    max-height: 75vh;
    overflow-y: auto;
    margin-bottom: 15px;
    flex-grow: 1;
}

.resume-button {
    background-color: #0088cc; /* Telegram-синий для кнопок */
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #3c4043; /* Лёгкая обводка */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.resume-button:hover {
    background-color: #007ab8; /* Светлее при наведении */
    transform: scale(1.02); /* Лёгкое увеличение */
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto; /* Кнопки остаются внизу контейнера */
}

.action-button {
    padding: 10px;
    width: 100%;
    border: 1px solid #3c4043; /* Лёгкая обводка */
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #0088cc; /* Telegram-синий */
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.action-button:hover {
    background-color: #007ab8; /* Светлее при наведении */
    transform: scale(1.02); /* Лёгкое увеличение */
}

/* Скрытие полосы прокрутки для всех браузеров */
.resume-buttons::-webkit-scrollbar,
.container::-webkit-scrollbar {
    display: none;

}
.text_resume{
}

/* Стили для кнопки загрузки резюме (использует общий стиль action-button) */
.action-button {
    padding: 10px;
    width: 100%;
    border: 1px solid #3c4043;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: #0088cc; /* Telegram-синий */
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.action-button:hover {
    background-color: #007ab8;
    transform: scale(1.02);
}
.update-show-resume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 14px;
    }
.update-resume{width:30%}
.show-resume{margin-left: 15px; text-decoration: underline; color: white}