body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 844px; /* Заданный размер экрана */
    width: 390px; /* Заданный размер экрана */
}

.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #1a1a1a;
    border-radius: 10px;
    border: 2px solid white;
    overflow-y: auto;
    height: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.vacancy {
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}

button.back {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: green;
    color: white;
    margin-top: 20px;
}
