body {

    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Скрытый скроллинг */
}

.container {
    width: 90%;
    max-width: 390px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #1a1a1a;
    border-radius: 10px;
    border: 2px solid white;
    overflow-y: auto;
    height: 95vh; /* Высота контейнера для скрытого скроллинга */
}

h2 {
    text-align: center;
    margin-bottom: 20px;

}

.response-list {
    max-height: 75vh; /* Ограничиваем высоту для скроллинга внутри контейнера */
    overflow-y: auto;
    margin-bottom: 15px;

}

.response {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    border: 2px solid white;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button.view-resume, button.open-chat {
    width: 48%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: green;
    color: white;
}

button.cancel {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background-color: green;
    color: white;
}

button.back {
    width: 100%;
    padding: 15px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background-color: green;
    color: white;
}
