<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление клиентами</title>
    <link rel="stylesheet" href="../static/css/admin_clients11.css">
</head>
<body>
<div class="container">
    <h2>Управление клиентами</h2>
    <form>
        <div class="form-group">
            <label for="vacancies">количество размещенных вакансий</label>
            <input type="text" id="vacancies">
        </div>
        <div class="form-group">
            <label for="responses">количество откликов</label>
            <input type="text" id="responses">
        </div>
        <div class="form-group">
            <label for="paid-vacancies">оплачено вакансий</label>
            <input type="text" id="paid-vacancies">
        </div>
        <div class="form-group">
            <label for="vacancy-list">список вакансий</label>
            <input type="text" id="vacancy-list">
        </div>
        <div class="buttons">
            <button type="button" class="block-vacancy">заблокировать вакансию</button>
            <button type="button" class="block-client">заблокировать клиента</button>
        </div>
        <button type="button" class="back">Назад</button>
    </form>
</div>
</body>
</html>