<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление работодателями</title>
    <link rel="stylesheet" href="../static/css/admin_clients11.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Наименование работодателя (ИНН, ID)</h2>
    </div>
    <div class="stats-block">
        <div class="stat-item">
            <span class="stat-label">Количество размещенных вакансий</span>
            <span class="stat-value">42</span>
        </div>
        <div class="stat-item">
            <span class="stat-label">Количество откликов</span>
            <span class="stat-value">120</span>
        </div>
        <div class="stat-item">
            <span class="stat-label">Оплачено вакансий</span>
            <span class="stat-value">35</span>
        </div>
    </div>
    <div class="vacancies-block">
        <h3>Список вакансий:</h3>
        <div id="vacancy-list" class="vacancy-list">
            <div class="vacancy">
                <p>Курьер на легкие заказы до 2кг<br>от 125 310 до 178 130 ₽ на руки</p>
                <button type="button" class="block-job">Заблокировать вакансию</button>
            </div>
            <div class="vacancy">
                <p>Курьер на легкие заказы до 2кг<br>от 125 310 до 178 130 ₽ на руки</p>
                <button type="button" class="block-job">Заблокировать вакансию</button>
            </div>
        </div>
    </div>
    <div class="actions-block">
        <button type="button" class="block-client">Заблокировать клиента</button>
        <button type="button" class="back">Назад</button>
    </div>
</div>
</body>
</html>