<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление пользователями</title>
    <link rel="stylesheet" href="/css/admin_users12.css">
</head>
<body>
<div class="container">
    <form>
        <h2>Управление пользователями</h2>
        <div class="section">
            <label for="vacancy-list">список вакансий</label>
            <input type="text" id="vacancy-list" required>
        </div>
        <div class="buttons">
            <button type="button" class="resume">резюме</button>
            <button type="button" class="block">заблокировать пользователя</button>
        </div>
        <button type="button" class="back">Назад</button>
    </form>
</div>
</body>
</html>