<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../static/css/admin_panel.css">
</head>
<body>
<div class="phone">
    <div class="screen">
        <div class="header">Админка</div>
        <div class="stats">
            <div class="stat">
                <div class="number">15</div>
                <div class="label">Количество размещенных вакансий</div>
            </div>
            <div class="stat">
                <div class="number">30</div>
                <div class="label">Количество откликов</div>
                <div class="substats">
                    <div class="substat">
                        <div class="subnumber">10</div>
                        <div class="sublabel">Видео-резюме</div>
                    </div>
                    <div class="substat">
                        <div class="subnumber">15</div>
                        <div class="sublabel">Текстовое резюме</div>
                    </div>
                    <div class="substat">
                        <div class="subnumber">5</div>
                        <div class="sublabel">Без резюме</div>
                    </div>
                </div>
            </div>
            <div class="stat">
                <div class="number">5</div>
                <div class="label">Оплачено подписок</div>
            </div>
            <div class="stat">
                <div class="number">50</div>
                <div class="label">Зарегистрировано соискателей</div>
            </div>
            <div class="stat">
                <div class="number">20</div>
                <div class="label">Зарегистрировано работодателей</div>
            </div>
            <div class="stat">
                <div class="number">1ч 20м</div>
                <div class="label">Среднее время нахождения в приложении</div>
            </div>
        </div>
        <form class="input-form">
            <label>
                Наименование работодателя:
                <input type="text" placeholder="Введите наименование">
            </label>
            <label>
                Наименование соискателя:
                <input type="text" placeholder="Введите наименование">
            </label>
            <button class="button" type="submit">Далее</button>
        </form>
    </div>
</div>
</body>
</html>
