<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../static/css/admin_panel.css">
</head>
<body>
<div class="phone">
    <div class="screen">
        <div class="header">Админка</div>
        <div class="stats">
            <div class="stat">
                <div class="number">15</div>
                <div class="label">Размещено вакансий</div>
            </div>
            <div class="stat">
                <div class="number">30</div>
                <div class="label">Количество откликов</div>
            </div>
            <div class="stat">
                <div class="number">5</div>
                <div class="label">Оплачено подписок</div>
            </div>
        </div>
        <a class="button" href="#">Управление пользователями</a>
    </div>
</div>
</body>
</html>
