<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои Вакансии</title>
    <link rel="stylesheet" href="/css/description_vacancy_job_seeker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-p6O1o6+K5W+SzN+..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
    <div class="header-group">
        <h1>О вакансии</h1>
        <!-- Кнопка поделиться -->
        <button class="button share-button" onclick="shareVacancy()">
            <i class="fas fa-share-alt"></i>
        </button>
    </div>
    <div class="vacancy-details">
        <h3 id="position" class="header"></h3>
        <p id="employer_name"></p>
        <p id="employer_phone"></p>
        <p id="city"></p>
        <p id="address"></p>
        <p id="salary"></p>
        <p id="exp"></p>
        <p id="workSchedule"></p>
        <p class="header">Страница вакансии</p>
        <div id="responsibility"></div>
        <p id="create_date"></p>
        <p id="views" ></p>
    </div>
    <div class="button-group">

        <button class="button green" onclick="vacancy_text_resume()" id="text-resume">Откликнуться с текстовым резюме
        </button>
        <div class="resume-buttons-two">
            <button class="button green" onclick="vacancy_response()" id="response">Видео резюме</button>
            <button class="button green" onclick="vacancy_no_resume()" id="no-resume">Без резюме</button>
        </div>


        <button class="button green" id="back-btn" onclick="vacancy_back()">Назад</button>
    </div>
</div>

<!-- Popup Modal -->
<div id="resumeModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Список резюме</h2>
        <div id="resume-buttons" class="resume-buttons"></div>

    </div>
</div>
<div id="contactModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeContactModal">&times;</span>
        <p>
            <input type="checkbox" id="offerCheckbox">
            <label for="offerCheckbox">
                Нажимая на кнопку «Поделиться номером телефона» вы подтверждаете
                <a href="https://tworker.ru/legal/сontract_offer.pdf" target="_blank" rel="noopener noreferrer">
                    договор-оферты
                </a>
            </label>
        </p>
        <button class="button green" id="shareContactBtn" disabled>Поделиться номером телефона</button>
    </div>
</div>
<!-- Модал -->
<div id="noResumeModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeNoResumeModal">&times;</span>

        <p class="modal-text">
            Загрузите своё резюме, прежде чем откликаться на вакансию.<br>
            Или откликнитесь без резюме.
        </p>

        <div class="buttons">
            <!-- Загрузить/Обновить резюме -->
            <button
                    class="button green"
                    id="uploadResumeBtn"
                    onclick="triggerFileUpload()"
            >
                Загрузить резюме
            </button>

            <!-- Показ имени загруженного файла -->
            <a
                    id="resume-text"
                    class="show-resume"
                    href="#"
                    target="_blank"
                    style="display: none; margin-left: 12px;"
            ></a>
        </div>

        <!-- Появится после загрузки -->
        <button
                class="button green"
                id="respondWithResumeBtn"

                style="display: none; margin-top: 10px;"
        >
            Откликнуться с резюме
        </button>

        <!-- Отклик без резюме -->
        <button
                class="button green"
                id="noResumeBtn"

                style="margin-top: 10px;"
        >
            Откликнуться без резюме
        </button>
    </div>
</div>

<!-- Скрытый инпут для файлов -->
<input
        id="text-resume-upload"
        type="file"
        accept=".txt,.doc,.docx,.pdf"
        style="display: none;"
/>
<div id="loading" class="loading-overlay">
    <img src="/imag/DuckCounting.gif" alt="Loading">
</div>
<script src="/js/description_vacancy_job_seeker.js"></script>
</body>
</html>
