<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои Вакансии</title>
    <link rel="stylesheet" href="../static/css/discription_vacancy.css">
</head>
<body>
<div class="container">
    <h1>Мои Вакансии</h1>
    <div class="vacancy-details">
        <p>Присоединяйся к нашей дружной команде курьеров!</p>
        <p>Мы предлагаем:</p>
        <ul>
            <li>Сверхбыстрое устройство: откликайся сегодня, выходи на смену уже завтра!</li>
            <li>Гарантированный доход до 3840 рублей, даже когда нет заказов!</li>
            <li>Свободный график: работай с 08:00 до 24:00 часов в удобное для тебя время!</li>
            <li>Велосипед и сезонную форму!</li>
            <li>Надбавку за погодные условия + повышенную ставку при выработке от 30 часов!</li>
            <li>Чаевые 100% твои!</li>
            <li>Отсутствие штрафов!</li>
            <li>Совмещай с учебой или другой занятостью!</li>
            <li>Нет комиссии с заказов!</li>
            <li>Доставка в удобном районе!</li>
            <li>Всё, что нужно – телефон или планшет, android/ios!</li>
            <li>И это еще не все, лучшим курьерам путевки в Сочи.</li>
        </ul>
        <p>👁 83</p>
    </div>
    <div class="button-group">
        <button class="button green">Отклики</button>
        <button class="button red">Удалить</button>
        <button class="button green">Редактировать</button>
        <button class="button green">Назад</button>
    </div>
</div>
</body>
</html>
