<!DOCTYPE html>
<html lang="ru">
<head>
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Избранные вакансии</title>
  <link rel="stylesheet" href="/css/favorites_vacancy.css">
</head>
<body>
<div class="container" >
  <h2>Избранные вакансии</h2>
  <div class="response-list" id="responses">


  </div>
  <button type="button" class="back"  onclick="window.location.href='/jobSeeker/account/menu'">Назад</button>
</div>
</body>
<script src = "/js/responses7.js"> </script>
</html>

