
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильтры</title>
    <link rel="stylesheet" href="/css/filtress.css">
</head>
<body>


<div class="container">
    <h2>Фильтры</h2>
        <!-- Выбор отрасли -->
        <div class="form-group">
            <label for="industry">Отрасль</label>
            <select id="industry">
                <option value="" disabled selected>Выберите отрасль</option>

            </select>
        </div>

        <!-- Верхнее поле с выбором должности -->
        <div class="form-group">
            <label for="position">Должность</label>
            <input list="position-list" id="position" placeholder="Желаемая должность" type="text">
            <datalist id="position-list">
                <option value="Разработчик">Разработчик</option>
                <option value="Менеджер">Менеджер</option>
                <option value="Дизайнер">Дизайнер</option>
                <option value="Аналитик">Аналитик</option>
                <option value="Бухгалтер">Бухгалтер</option>
                <option value="Сотрудник магазина">Сотрудник магазина</option>
                <option value="Курьер с личным а/м">Курьер с личным а/м</option>
                <option value="Пеший Курьер">Пеший Курьер</option>
                <option value="Упаковщик">Упаковщик</option>
                <option value="Повар-пиццамейкер">Повар-пиццамейкер</option>
                <option value="Фасовщик">Фасовщик</option>
                <option value="Помощник повара">Помощник повара</option>
                <option value="Сотрудник пунка выдачи заказов">Сотрудник пунка выдачи заказов</option>
                <option value="Разнорабочий">Разнорабочий</option>
                <option value="Пикер штрих-кодов малогабаритных интернет-заказов в пунк выдачи">Пикер штрих-кодов малогабаритных интернет-заказов в пунк выдачи</option>
                <option value="Ночной клинер/уборщица">Ночной клинер/уборщица</option>
                <option value="Охранник">Охранник</option>
                <option value="Массажист">Массажист</option>
                <option value="Кладовщик на склад">Кладовщик на склад</option>
                <option value="Санитар/санитарки в частную клинику">Санитар/санитарки в частную клинику</option>
                <option value="Puthon разработчик, middle">Puthon разработчик, middle</option>
                <option value="Frontend-разработчик (Angular)">Frontend-разработчик (Angular)</option>
                <option value="Junior Backend Developer">Junior Backend Developer</option>
                <option value="Flutter Разработчик (Стажер)">Flutter Разработчик (Стажер)</option>
                <option value="Java/Flutter разработчик">Java/Flutter разработчик</option>
                <option value="Стажер-разработчик React">Стажер-разработчик React</option>
                <option value="Backend разработчик (стажер)">Backend разработчик (стажер)</option>
                <option value="Разработчик No Code">Разработчик No Code</option>
                <option value="Rust-разработчик">Rust-разработчик</option>
                <option value="Java разработчик/Java Developer">Java разработчик/Java Developer</option>
                <option value="Java разработчик/Java Developer (Стажер)">Java разработчик/Java Developer (Стажер)</option>
                <option value="Начинающий разработчик (программист) 1С">Начинающий разработчик (программист) 1С</option>
                <option value="C# Продакт Разработчик Трейдинг">C# Продакт Разработчик Трейдинг</option>
                <option value="Программист-разработчик JavaScript">Программист-разработчик JavaScript</option>
                <option value="DL-разработчик">DL-разработчик</option>
                <option value="Elixir-разработчик">Elixir-разработчик</option>
                <option value="Web-разработчик (Backend-разработчик)">Web-разработчик (Backend-разработчик)</option>
                <option value="Разработчик (GreenData)">Разработчик (GreenData)</option>
                <option value="Разработчик операций AL, Python/React">Разработчик операций AL, Python/React</option>
                <option value="Fullstack-разработчик в онлайн школу">Fullstack-разработчик в онлайн школу</option>
                <option value="Junior Fullstack разработчик (удаленно)">Junior Fullstack разработчик (удаленно)</option>
                <option value="Менеджер контроля качества">Менеджер контроля качества</option>
                <option value="Менеджер по продажам">Менеджер по продажам</option>
                <option value="Менеджер по персоналу">Менеджер по персоналу</option>
                <option value="Менеджер по закупкам">Менеджер по закупкам</option>
                <option value="Менеджер по туризму">Менеджер по туризму</option>
                <option value="Менеджер проектов">Менеджер проектов</option>
                <option value="Менеджер интернет магазина">Менеджер интернет магазина</option>
                <option value="Менеджер по продажам рекламы">Менеджер по продажам рекламы</option>
                <option value="БМаркетолог">Маркетолог</option>
                <option value="Монтажник рекламных конструкций">Монтажник рекламных конструкций</option>
                <option value="Юрист">Юрист</option>
                <option value="помощник Юриста">помощник Юриста</option>
            </datalist>
        </div>

        <!-- Список компаний -->
        <div class="form-group">
            <label for="company">Компания</label>
            <select id="company">
                <option value="" disabled selected>Выберите компанию</option>

            </select>
        </div>

        <!-- Уровень дохода -->
        <div class="form-group">
            <label for="income">Уровень дохода, от (руб)</label>
            <input type="number" id="income" placeholder="Укажите сумму">
        </div>

        <!-- Страна
        <div class="form-group">
            <label for="country">Страна</label>
            <input list="country-list" id="country" placeholder="Выберите страну" type="text">
            <datalist id="country-list">
                <option value="Россия"></option>
                <option value="США"></option>
                <option value="Канада"></option>
                <option value="Германия"></option>
            </datalist>
        </div>
-->
        <!-- Город -->
        <div class="form-group">
            <label for="city">Город</label>
            <input list="city-list" id="city" placeholder="Выберите город" type="text">
            <datalist id="city-list">

            </datalist>
        </div>



        <!-- Требуемый опыт -->
        <div class="form-group">
            <label>Требуемый опыт</label>
            <div class="button-group">
                <button type="button" class="exp" onclick="chooseWorkExperience(this)">Нет опыта</button>
                <button type="button" class="exp" onclick="chooseWorkExperience(this)">от 1 года до 3 лет</button>
                <button type="button" class="exp" onclick="chooseWorkExperience(this)">от 3 до 6 лет</button>
                <button type="button" class="exp" onclick="chooseWorkExperience(this)">Более 6 лет</button>
            </div>
        </div>

        <!-- Тип занятости -->
        <div class="form-group">
            <label>Тип занятости</label>
            <div class="button-group">
                <button type="button" class="bus" onclick="chooseWorkExperience(this)">Полная занятость</button>
                <button type="button" class="bus" onclick="chooseWorkExperience(this)">Удаленка</button>
                <button type="button" class="bus" onclick="chooseWorkExperience(this)">Частичная занятость</button>
                <button type="button" class="bus" onclick="chooseWorkExperience(this)">Гибкий график</button>
            </div>
        </div>


        <!-- Время публикации -->
        <div class="form-group">
            <label>Время публикации</label>
            <div class="button-group">
                <button type="button" class="time" onclick="chooseTime(this)">За месяц</button>
                <button type="button" class="time"  onclick="chooseTime(this)">За неделю</button>
                <button type="button" class="time"  onclick="chooseTime(this)">За 3 дня</button>
                <button type="button" class="time"  onclick="chooseTime(this)">Сутки</button>
            </div>
        </div>

        <!-- Кнопка отправки -->
        <button type="submit" class="apply" onclick="apply()">Применить</button>
        <button type="button" onclick="vacancy_back()" class="back">Назад</button>
</div>
<script src="/js/filtres.js"></script>
</body>
</html>
