<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет </title>
    <link rel="stylesheet" href="/css/job_seekers_menu.css">
</head>
<body>
<div class="container">
    <h2>Личный кабинет</h2>
    <div class="resume-buttons">
        <div class="resume-button">РЕЗЮМЕ 1. Менеджер по продажам (ссылка в наименовании резюме) редактировать/удалить...</div>
        <div class="resume-button">РЕЗЮМЕ 2. Посудомойщик. (ссылка в наименовании резюме) редактировать/удалить...</div>
    </div>
    <div class="action-buttons">
        <button class="action-button" onclick="window.location.href='/jobSeeker/account/favorites'">Избранные вакансии</button>
        <button class="action-button" onclick="support()">Поддержка</button>
    </div>
</div>
<script src = "/js/job_sekkers_menu.js"> </script>
</body>
</html>
