<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, user-scalable=no">
    <meta name="theme-color" content="#0f0f0f">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <title>Личный кабинет работодателя</title>
    <link rel="stylesheet" href="/css/lk_employer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-p6O1o6+K5W+SzN+..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div class="container">
    <h2>Личный кабинет работодателя</h2>
    <form>
        <div class="form-group">
            <input type="button" value="Разместить вакансию" onclick="window.location.href='/employer/vacancy/create'">
        </div>
        <div class="form-group">
            <input type="button" value="Мои вакансии" onclick="window.location.href='/employer/my_vacancy7/show'">
        </div>
        <div class="form-group">
            <input type="button" value="Сведения о компании / Изменить" onclick="window.location.href='/employer/reg_employer1/reg'">
        </div>
        <div class="form-group">
        <input type="button" value="Поддержка" onclick="support()">
        </div>
        <div class="form-group">
            <input type="button" value="Удалить аккаунт" onclick="delete_employer()">
        </div>


    </form>
</div>
</body>
<script src = "/js/lk_employer.js"> </script>
</html>
</html>