<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет работодателя</title>
    <link rel="stylesheet" href="/css/lk_employer.css">
</head>
<body>
<div class="container">
    <h2>Личный кабинет работодателя</h2>
    <form>
        <div class="form-group">
            <input type="button" value="Разместить вакансию" onclick="window.location.href='/employer/vacancy/create'">
        </div>
        <div class="form-group">
            <input type="button" value="Мои вакансии" onclick="window.location.href='/employer/my_vacancy7/show'">
        </div>
        <div class="form-group">
            <input type="button" value="Сведения о компании / Изменить" onclick="window.location.href='/employer/reg_employer1/reg'">
        </div>
        <div class="form-group">
            <input type="button" value="Отклики" onclick="window.location.href='/employer/responses7/show'">
        </div>
        <div class="form-group">
            <input type="button" value="Поддержка"onclick="window.location.href='https://t.me/Cherchent'">
        </div>

    </form>
</div>
</body>
<script src = "/js/regEmployer.js"> </script>
</html>
</html>