<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои Вакансии</title>
    <link rel="stylesheet" href="/css/menuClient.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h2>Список доступных вакансий</h2>
        <a href = "/vacancy/filter/page" id = "filter_button">
            <img src="/imag/filter.png" alt="Фильтр" class="filterImg">
        </a>
    </div>
    <div id="vacancies"></div>
</div>
<script src="/js/menuClient.js"></script>
</body>
</html>
