<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои Вакансии</title>
    <link rel="stylesheet" href="../static/css/my_vacancy7.css">
</head>
<body>
<div class="container">
    <h2>Мои Вакансии</h2>
    <button class="vacancy">
        <p>Курьер / Велокурьер - Курьер<br>от 112 320 до 145 760 ₽ на руки</p>
    </button>
    <div class="vacancy">
        <p>Курьер / Велокурьер - Курьер<br>от 112 320 до 145 760 ₽ на руки</p>
    </div>
    <div class="vacancy">
        <p>Курьер / Велокурьер - Курьер<br>от 112 320 до 145 760 ₽ на руки</p>
    </div>
    <button type="button" class="back">Назад</button>
</div>
</body>
</html>
