<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новый отклик на вакансию</title>
    <link rel="stylesheet" href="../static/css/post.css">
</head>
<body>
<header>
    <div class="logo-container">
        <!-- Место для логотипа -->
        <img src="\logo.jpg" alt="Логотип tWorker">
    </div>
</header>

<main>
    <h1>Новый отклик на вакансию «Специалист по проверке заявок на кредит» через tWorker (Telegram + HH.ru)</h1>

    <section class="content">
        <p>Уважаемый(ая) [Имя работодателя],</p>
        <p>Кандидат откликнулся на вашу вакансию через мини-приложение tWorker в Telegram. Вот главное:</p>
        <ol>
            <li>🔗 Ваша вакансия синхронизирована с HH.ru — данные обновляются автоматически.</li>
            <li>📲 Кандидаты заполняют анкету в формате «мини-приложения» (не чат-бота!) — это быстро и удобно.</li>
            <li> Вы можете размещать Ваши вакансии у нас в сервисе абсолютно бесплатно!</li>
        </ol>
        <p><a href="#" class="button">Просмотреть резюме</a></p>
    </section>

    <section class="why">
        <h2>Почему tWorker?</h2>
        <ul>
            <li>✅ Больше мобильных кандидатов — 80% откликов из Telegram.</li>
            <li>✅ Никакого спама — контакты работодателя скрыты.</li>
            <li>✅ Партнер HH.ru — вакансии защищены через API.</li>
        </ul>
    </section>

    <section class="contact">

        <p>Следите за обновлениями в нашем канале:<br>
            👉 <a href="#">DigitalWorld07</a> — лайфхаки по найму, кейсы, новости tWorker.

           <p>Ссылка на приложение: <a href="https://t.me/tworker_ru_bot">@tworker_ru_bot</a>
        </p>
    </section>

    <section class="signature">
        <p>С уважением,<br>
            Команда tWorker<br>

        </p>

    </section>


</main>
</body>
</html>
