<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Сведения о компании</title>
    <link rel="stylesheet" href="/css/reg_employer1.css">
</head>
<body>
<div class="container">
    <h1>Сведения о компании</h1>
    <div class="input-group">
        <label for="inn">ИНН:</label>
        <input type="number" id="inn" name="inn">
    </div>
    <div class="input-group">
        <label for="ogrn">ОГРН:</label>
        <input type="number" id="ogrn" name="ogrn">
    </div>
    <div class="input-group">
        <label for="nameCompany">Наименование компании:</label>
        <input type="text" id="nameCompany" name="nameCompany">
    </div>
    <div class="input-group">
        <label for="description">Описание:</label>
        <input type="text" id="description" name="description">
    </div>
    <div class="input-group">
        <label for="logo">Логотип компании:</label>
        <input type="file" id="logo" name="logo" accept=".png, .jpg, .jpeg">
    </div>
    <button id = "next" type="submit">Отправить</button>
    <button type="button" class="back" onclick="window.location.href='/employer/lk/'">Назад</button>
</div>
<script src = "/js/regEmployer1.js"> </script>
</body>
</html>