<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Отклики по вакансии</title>
    <link rel="stylesheet" href="/css/responses7.css">
</head>
<body>
<div class="container">
    <h2>Отклики по вакансии курьер id 7564</h2>
    <div class="response-list">
        <div class="response">
            <p>1. Соискатель, Сведения о соискателе:<br>данные об аккаунте в тг... написать</p>
            <div class="button-group">
                <button type="button" class="view-resume" onclick="window.location.href='/employer/lk/'">посмотреть резюме</button>
                <button type="button" class="open-chat"onclick="window.location.href='/employer/lk/'">открыть чат</button>
            </div>
        </div>
        <div class="response">
            <p>2. Соискатель, Сведения о соискателе:<br>данные об аккаунте в тг... написать</p>
            <div class="button-group">
                <button type="button" class="view-resume">посмотреть резюме</button>
                <button type="button" class="open-chat" onclick="window.location.href='/employer/lk/'">открыть чат</button>
            </div>
        </div>
        <div class="response">
            <p>3. Соискатель, Сведения о соискателе:<br>данные об аккаунте в тг... написать</p>
            <div class="button-group">
                <button type="button" class="view-resume">посмотреть резюме</button>
                <button type="button" class="open-chat">открыть чат</button>
            </div>
        </div>
    </div>
    <button type="button" class="back" onclick="window.location.href='/employer/lk/'">Назад</button>
</div>
</body>
</html>

